.about-page {
  min-height: 100vh;
  margin-top: 10vh;
  display: flex;
  flex-flow: column;
}

h1 {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;
  font-size: 2rem !important;
}

h2 {
  padding-bottom: 30px;
}

.break {
  margin: 20px;
}

.about-info {
  padding: 10px;
}

.left {
  padding-right: 10px;
  font-weight: 700;
}

.personal {
  position: relative;
}

@media only screen and (min-width: 900px) {
  h1,
  h2 {
    align-self: center;
  }

  .about-page {
    margin-bottom: 5vh;
  }

  .about-info {
    display: grid;
    grid-template-columns: 10vw 10vw 1fr 1fr 10vw 10vw;
    grid-gap: 5px;
  }

  .centered-heading {
    margin-top: 50px;
    grid-column: 1 / 7;
    // width: 100%;
    text-align: center;
  }

  .left {
    grid-column: 3/4;
    justify-self: right;
  }

  .break {
    margin: 30px;
  }
}
