.contact-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 10vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url(../images/background-mountains_1920x1077.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: whitesmoke;
}

h1 {
  text-align: center;
  margin: 20px;
  padding-bottom: 1em;
}

form div {
  margin: 20px;
}

.newP {
  margin: 20px;
  text-align: center;
  padding-bottom: 1em;
}

.button {
  cursor: pointer;
  //   width: unset !important;
}

.newButton {
  margin: 10px;
  width: fit-content !important;
  align-self: center;
}

.display-none {
  display: none;
}

.form-item {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-weight: 700;
  padding-bottom: 5px;
}

.form-input {
  font-size: 1.2em;
  padding: 10px;
}

.form-input:focus {
  outline: solid;
  outline-color: #60b0f4;
  border: none;
}

form button:focus {
  outline: solid;
  outline-color: #60b0f4;
  border: none;
}

@media only screen and (min-width: 640px) {
  form {
    align-self: center;
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  form {
    width: 70%;
  }
}

@media only screen and (min-width: 1600px) {
  form {
    width: 50%;
  }
}
