html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// --------------------------------------
// /* Individual Gallery Pages styles start here */
// --------------------------------------
.gallery {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.gallery-container {
  padding: 2em 1em;
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 5em;
  width: 100%;
  text-align: center;
  // max-width: 1200px;
}

.gallery h1 {
  padding-top: 2.5em;
}

.my-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  grid-gap: 1em;
  max-width: 100%;
}

.my-gallery img {
  width: 100%;
}

.my-gallery figcaption {
  display: none;
}

// --------------------------------------
// /* Individual Gallery Pages styles end here */
// --------------------------------------

footer {
  margin-top: auto;
}
