html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
}

body h1 {
  font-size: 3rem;
}

body h2 {
  font-size: 2rem;
}

body h3 {
  font-size: 1.5rem;
}

body h4 {
  font-size: 1.5rem;
}

body p {
  font-size: 1.5rem;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
}

.section-greeting {
  padding: 0 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto 0.5fr auto 0.5fr auto 1fr;
      grid-template-rows: 1fr auto 0.5fr auto 0.5fr auto 1fr;
  justify-items: center;
  text-align: center;
  height: 100vh;
  background: url(/images/bg-home.jpg) rgba(0, 0, 0, 0.3) no-repeat center left fixed;
  background-size: cover;
  background-blend-mode: darken;
  color: whitesmoke;
}

.section-greeting .name {
  -ms-grid-row: 2;
  grid-row: 2;
}

.section-greeting .welcome {
  -ms-grid-row: 4;
  grid-row: 4;
}

.section-greeting .slider {
  -ms-grid-row: 6;
  grid-row: 6;
}

.section-greeting .slide {
  -ms-grid-row: 7;
  grid-row: 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  justify-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  width: 100vw;
}

.section-gallery p {
  text-align: justify;
  max-width: 500px;
  padding: 0 1rem;
}

.section-gallery img {
  max-width: 100%;
  height: auto;
}

.section-gallery .gbd-subheading {
  text-transform: uppercase;
}

.section-gallery .button {
  background-color: #dddddd;
  color: black;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  width: calc(100% - 4rem);
}

.section-gallery .sg-block {
  padding-bottom: 4rem;
}

.section-about {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  justify-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  width: 100vw;
  background: url(/images/bg-about.jpg) rgba(0, 0, 0, 0.3) no-repeat center center fixed;
  background-size: cover;
  background-blend-mode: darken;
  color: whitesmoke;
  padding-bottom: 0px;
}

.section-about p {
  text-align: justify;
  max-width: 500px;
}

.section-about .sa-image {
  padding-bottom: 0px;
}

.section-about img {
  max-width: 100%;
  height: auto;
  opacity: 0.3;
  padding-bottom: 0px;
}

@media only screen and (max-width: 1024px) {
  .section-about .sa-image {
    display: none;
  }
}

@media only screen and (min-width: 501px) {
  .section-gallery .sg-block a img {
    -webkit-box-shadow: 1px 1px 20px 1px #000;
            box-shadow: 1px 1px 20px 1px #000;
    border-radius: 0.2rem;
  }
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 12px;
  }
  .section-gallery p {
    padding: 0;
  }
  .section-gallery .sg-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-gallery .sg-block .gallery-block-image {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
  }
  .section-gallery .sg-block .gallery-block-description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 20px;
  }
  .section-gallery .sg-block .gallery-block-description h2 {
    margin: 0;
  }
  .section-gallery .sg-block .gallery-block-description h3 {
    margin: 0;
  }
  .section-gallery .sg-block .gallery-block-description .gbd-subheading::after {
    display: block;
    background-color: #60b0f4;
    height: 5px;
    margin-top: 15px;
    width: 75px;
    content: "";
  }
  .section-gallery .sg-block .gallery-block-description .button {
    width: 50%;
  }
  .section-gallery #macedonia {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .section-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-about .sa-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
/*# sourceMappingURL=style.css.map */