*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* merriweather-regular - latin_cyrillic */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/merriweather-v21-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local("Merriweather Regular"), local("Merriweather-Regular"), url("../fonts/merriweather-v21-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/merriweather-v21-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/merriweather-v21-latin_cyrillic-regular.woff") format("woff"), url("../fonts/merriweather-v21-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/merriweather-v21-latin_cyrillic-regular.svg#Merriweather") format("svg");
  /* Legacy iOS */
}

/* merriweather-700 - latin_cyrillic */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/merriweather-v21-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local("Merriweather Bold"), local("Merriweather-Bold"), url("../fonts/merriweather-v21-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/merriweather-v21-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/merriweather-v21-latin_cyrillic-700.woff") format("woff"), url("../fonts/merriweather-v21-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/merriweather-v21-latin_cyrillic-700.svg#Merriweather") format("svg");
  /* Legacy iOS */
}

:root {
  --background: rgba(240, 240, 240, 1);
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 14px;
}

.button {
  background-color: var(--background);
  color: black;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  -webkit-box-shadow: 0px 0px 2px 0px #000;
          box-shadow: 0px 0px 2px 0px #000;
  border-radius: 0.2em;
}

h1 {
  font-size: 1.5rem;
}

header {
  background: var(--background);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  -webkit-box-shadow: 0px 0px 20px 0px #000;
          box-shadow: 0px 0px 20px 0px #000;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* allow it to gain focus, making it tabbable */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.logo {
  width: 15em;
  padding: 0.5em 1em;
  margin: 0.5em;
}

.logo .st0 {
  fill: #60b0f4;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #60b0f4;
  height: 3px;
  width: 2em;
  border-radius: 2px;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 8px;
}

.nav-toggle-label span::after {
  top: 8px;
}

nav {
  position: absolute;
  text-align: center;
  top: 100%;
  right: 0;
  background: var(--background);
  width: 100%;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 0.5em;
  padding: 0.5em;
}

nav a {
  color: #60b0f4;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.nav-toggle:checked ~ .nav-toggle-label span {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.nav-toggle:checked ~ .nav-toggle-label span::before,
.nav-toggle:checked ~ .nav-toggle-label span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.nav-toggle:checked:hover ~ .nav-toggle-label span {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  -webkit-transition: opacity 150ms ease-in-out 250ms;
  transition: opacity 150ms ease-in-out 250ms;
}

@media screen and (min-width: 900px) {
  .nav-toggle-label {
    display: none;
  }
  header nav {
    position: relative;
    text-align: left;
    -webkit-transition: none;
    transition: none;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav li {
    margin-left: 3em;
    margin-bottom: 0;
    padding: 0 2em 0 0;
  }
  header nav a {
    opacity: 1;
    position: relative;
    font-size: 1.2rem;
    font-weight: 400;
  }
}

.section-greeting {
  padding: 0 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.5fr auto 0.5fr auto 0.5fr auto 0.5fr auto 1fr;
      grid-template-rows: 0.5fr auto 0.5fr auto 0.5fr auto 0.5fr auto 1fr;
  place-items: center;
  text-align: center;
  height: 100vh;
  background-size: auto, cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.55)), to(rgba(0, 0, 0, 0.25))), url(/images/background-mountains_1920x1077.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.25)), url(/images/background-mountains_1920x1077.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  color: whitesmoke;
}

.section-greeting h1 {
  font-size: 2rem;
}

.section-greeting .name {
  -ms-grid-row: 2;
  grid-row: 2;
}

.section-greeting .welcome {
  -ms-grid-row: 4;
  grid-row: 4;
}

.section-greeting .expectations {
  -ms-grid-row: 6;
  grid-row: 6;
}

.section-greeting .slider {
  -ms-grid-row: 8;
  grid-row: 8;
  margin: 0;
  padding: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
}

.section-greeting .slider figure {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400%;
  margin: 0;
  left: 0;
  -webkit-animation: 12s slider infinite;
          animation: 12s slider infinite;
}

.section-greeting .slider .slide {
  width: 100%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-greeting .slider .slide h4 {
  padding-bottom: 1em;
}

.section-greeting .slide-icon {
  width: 3em;
  padding-bottom: 1.5em;
}

@-webkit-keyframes slider {
  0% {
    left: 0%;
  }
  30% {
    left: 0%;
  }
  33% {
    left: -100%;
  }
  63% {
    left: -100%;
  }
  66% {
    left: -200%;
  }
  96% {
    left: -200%;
  }
  99% {
    left: -300%;
  }
  100% {
    left: -300%;
  }
}

@keyframes slider {
  0% {
    left: 0%;
  }
  30% {
    left: 0%;
  }
  33% {
    left: -100%;
  }
  63% {
    left: -100%;
  }
  66% {
    left: -200%;
  }
  96% {
    left: -200%;
  }
  99% {
    left: -300%;
  }
  100% {
    left: -300%;
  }
}

.section-gallery-container {
  max-width: 1200px;
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  padding: 0 1em 3em 1em;
  -ms-grid-columns: (minmax(300px, auto))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  grid-gap: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.section-gallery-container h1 {
  text-transform: uppercase;
  padding: 2em 0;
  grid-column: -1 / 1;
}

.section-gallery-container .sg-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.section-gallery-container .sg-block img {
  max-width: 100%;
  height: auto;
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
}

.section-gallery-container .gbd-heading {
  padding-top: 0.2em;
}

.section-gallery-container .gbd-subheading {
  text-transform: uppercase;
  padding: 0.2em 0;
}

.section-gallery-container p {
  text-align: justify;
  max-width: 500px;
  margin: 0 auto;
  height: 100%;
  padding: 1em;
}

.section-gallery-container .sg-block .button {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: none;
}

.gallery-page-section {
  min-height: 100vh;
}

.section-about {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  justify-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.55))), url(/images/background-mountains_1920x1077.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.55)), url(/images/background-mountains_1920x1077.jpg);
  background-size: auto, cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  color: whitesmoke;
  padding: 1em 1em 0 1em;
}

.section-about h1,
.section-about h2 {
  padding: 1em 0;
}

.section-about h1 {
  text-transform: uppercase;
}

.section-about p {
  text-align: justify;
  max-width: 500px;
  padding: 0.5em 0 0.5em 0;
}

.section-about .end-p {
  padding-bottom: 1em;
}

.section-about .inline-link {
  text-decoration: none;
  color: whitesmoke;
}

.section-about .sa-description {
  margin-bottom: 2em;
}

.section-about .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-about .section-about-button1,
.section-about .section-about-button2 {
  width: 100%;
}

.section-about .section-about-button1 {
  margin-right: 5px;
}

.section-about .section-about-button2 {
  margin-left: 5px;
}

@media only screen and (max-width: 900px) {
  .section-about .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-about .section-about-button1,
  .section-about .section-about-button2 {
    margin: 5px auto;
  }
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  background: var(--background);
  text-align: center;
}

.footer-logo {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 10rem;
  padding: 0 0 0.5em 0;
  margin: 0;
}

.footer-logo .st0 {
  fill: #60b0f4;
}

footer nav {
  position: relative;
  text-align: center;
  -webkit-transition: none;
  transition: none;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  background: none;
  top: initial;
  left: initial;
  /* end Edge support stuff */
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer nav li {
  margin-top: 1em;
  padding: 1em;
  padding: 0;
}

footer nav a {
  opacity: 1;
  position: relative;
  color: black;
}

footer p {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  font-size: 0.8rem;
  font-weight: 700;
  padding-bottom: 1em;
}

@media screen and (min-width: 1080px) {
  footer nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer nav li {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
  footer nav a {
    color: #60b0f4;
    font-size: 1.2rem;
    font-weight: 400;
  }
}
/*# sourceMappingURL=style.css.map */