// Beginning of Global Variables
// -----------------------------
:root {
    --background: rgba(240, 240, 240, 1);
  }
// -----------------------------
// End of Global Variables



// Pseudo elements box-sizing reset
// --------------------------------
  *, *::before, *::after {
    box-sizing: border-box;
  }
// --------------------------------



html {
    font: 10px Georgia, serif;
}
body{
    margin: 0;
    padding: 0;
    h1 {font-size: 3rem; font-weight: 300;}
    h2 {font-size: 2rem; font-weight: 300;}
    h3 {font-size: 1.5rem; font-weight: 300;}
    h4 {font-size: 1.5rem; font-weight: 300;}
    p {font-size: 1.5rem;}
}


// /* Navigation Header styles start here */
// ----------------------------------------
header {
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    box-shadow: 1px 1px 20px 1px #000;
    border-radius: 0.2rem;
  }
  
  /* allow it to gain focus, making it tabbable */
  .nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }
  
  .logo{
      width: 20rem;
      padding: 0.7rem;
      margin: 0.7rem;
      .st0{
          fill:#60B0F4;
        }
  }
  .nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background: #60B0F4;
    height: 3px;
    width: 3rem;
    border-radius: 2px;
    position: relative;
    transition: all 0.4s ease;
  }
  
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: '';
    position: absolute;
  }
  
  .nav-toggle-label span::before {
    bottom: 8px;
  }
  
  .nav-toggle-label span::after {
    top: 8px;
  }
  
  nav {
    position: absolute;
    text-align: center;
    top: 100%;
    right: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 200ms ease-in-out;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    margin-bottom: 1rem;
  }
  
  nav a {
    color: #60B0F4;
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 100ms ease-in-out;
  }
  
  nav a:hover {
    color: #000;
  }
  
  .nav-toggle:checked ~ nav {
    transform: scale(1,1);
  }
  

// Animate hamburger on click begins
// ---------------------------------
  .nav-toggle:checked ~ .nav-toggle-label span {
    transform: rotate(135deg);
  }
// Turn lines into X
  .nav-toggle:checked ~ .nav-toggle-label span::before,
  .nav-toggle:checked ~ .nav-toggle-label span::after, {
    top:0;
    transform: rotate(90deg);
  }
// Rotate on hover when checked
  .nav-toggle:checked:hover ~ .nav-toggle-label span {
    transform: rotate(225deg);
  }
// -------------------------------
// Animate hamburger on click ends


  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 150ms ease-in-out 250ms;
  }
  
  @media screen and (min-width: 800px) {

    .nav-toggle-label {
      display: none;
    }
  
    header {
      display: grid;
      grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }
    
    .logo {
      grid-column: 2 / 3;
      margin: 0;
    }
    
    nav {
      // all: unset; /* this causes issues with Edge, since it's unsupported */
      position: relative;
      text-align: left;
      transition: none;
      transform: scale(1,1);
      background: none;
      top: initial;
      left: initial;
      /* end Edge support stuff */
      
      grid-column: 3 / 4;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    
    nav ul {
      display: flex;
    }
    
    nav li {
      margin-left: 3em;
      margin-bottom: 0;
    }
    
    nav a {
      opacity: 1;
      position: relative;
    }
    
  }
  
// --------------------------------------
// /* Navigation Header styles end here */


// Start of main body CSS style

.main {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.section-greeting .slider .slide h4{
    margin-top: 1rem;
    margin-bottom: 0;
}
.section-greeting .slider .slide .slide-icon {
    width: 5rem;
}
.button {
    background-color: #dddddd;
    color: black;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 400;
    width: calc(100% - 4rem);
}
// Feature querry only for browsers that support CSS Grid.
@supports (display: grid) {
// If the browser supports CSS Grid the code below will run
    .main {
        display: grid;
        grid-template-rows: auto auto auto;
    }
    .section-greeting {
        padding: 0 1rem;
        display: grid;
        grid-template-rows: 1fr auto 0.5fr auto 0.5fr auto 1fr;
        justify-items: center;
        text-align: center;
        height: 100vh;
        background-size: auto, cover;
        background-image: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)), url(/images/bg-home.jpg);
        background-attachment: fixed;
        color: whitesmoke;
        .name {
            grid-row: 2;
        }
        .welcome {
            grid-row: 4;
        }
        .slider {
            grid-row: 6;
        }
        .slide {
            grid-row: 7;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .section-gallery {
        display: grid;
        grid-template-rows: auto auto auto auto;
        justify-items: center;
        justify-self: center;
        text-align: center;
        width: 100%;
        h1 {
            text-transform: uppercase;
        }
        p {
            text-align: justify;
            max-width: 500px;
            padding: 0 1rem;
        }
        img {
            max-width: 100%;
            height: auto;
        }
        .gbd-subheading {
            text-transform: uppercase;
        }
        .sg-block {
            padding-bottom: 4rem;
        }

    }
    .section-about {
        display: grid;
        grid-template-rows: auto auto auto;
        justify-items: center;
        justify-self: center;
        text-align: center;
        width: 100%;
        background-image: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)), url(/images/bg-about.jpg);
        background-size: auto, cover;
        background-attachment: fixed;
        background-position: center;
        color: whitesmoke;
        padding-bottom: 0px;
        p {
            text-align: justify;
            max-width: 500px;
            padding: 0 1rem;
        }
        .sa-image {
            padding-bottom: 0px;
        }
        img {
            max-width: 100%;
            height: auto;
            opacity: 0.3;
            padding-bottom: 0px;
        }
    }

    @media only screen and (min-width: 501px) {
        .section-gallery .sg-block a img {
                box-shadow: 1px 1px 20px 1px #000;
                border-radius: 0.2rem;
        }
    }
    @media only screen and (min-width: 1080px) {
        html {
            font-size: 12px;
        }
        .section-greeting {
            h1 {font-size: 5rem;}
            h2 {font-size: 3rem;}
            h3 {font-size: 2rem;}
            h4 {font-size: 2rem;}
            p {font-size: 1.5rem;}
        }
        .section-gallery p {
            padding: 0;
        }
        .sg-block {
            display: flex;
            width: 100%;
            flex-direction: row;
            align-items: stretch;
            justify-content: center;
            flex-wrap: wrap;
            .gallery-block-image {
                flex-direction: column;
                padding: 20px;
            }
            .gallery-block-description {
                flex-direction: column;
                display: flex;
                text-align: center;
                align-items: flex-start;
                justify-content: space-around;
                padding: 20px;
                h2 {
                    margin: 0;
                }
                h3 {
                    margin: 0;
                }
                .gbd-subheading::after {
                    display: block;
                    background-color: #60b0f4;
                    height: 5px;
                    margin-top: 15px;
                    width: 75px;
                    content: "";
                }
                .button {
                    width: 50%;
                }
            }
        }
            .section-gallery #macedonia {
                flex-direction: row-reverse;
            }
        .section-about {
            display: flex;
            align-items: stretch;
            justify-content: center;
            .sa-image {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
        }
    }
    @media only screen and (max-width: 1079px) {
        .section-about .sa-image {
            display: none;
        }
    }
}
