/* merriweather-300 - latin_cyrillic */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/merriweather-v21-latin_cyrillic-300.eot");
  /* IE9 Compat Modes */
  src: local("Merriweather Light"), local("Merriweather-Light"), url("../fonts/merriweather-v21-latin_cyrillic-300.eot?#iefix") format("embedded-opentype"), url("../fonts/merriweather-v21-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/merriweather-v21-latin_cyrillic-300.woff") format("woff"), url("../fonts/merriweather-v21-latin_cyrillic-300.ttf") format("truetype"), url("../fonts/merriweather-v21-latin_cyrillic-300.svg#Merriweather") format("svg");
  /* Legacy iOS */
}

/* merriweather-regular - latin_cyrillic */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/merriweather-v21-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local("Merriweather Regular"), local("Merriweather-Regular"), url("../fonts/merriweather-v21-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/merriweather-v21-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/merriweather-v21-latin_cyrillic-regular.woff") format("woff"), url("../fonts/merriweather-v21-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/merriweather-v21-latin_cyrillic-regular.svg#Merriweather") format("svg");
  /* Legacy iOS */
}

/* merriweather-700 - latin_cyrillic */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/merriweather-v21-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local("Merriweather Bold"), local("Merriweather-Bold"), url("../fonts/merriweather-v21-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/merriweather-v21-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/merriweather-v21-latin_cyrillic-700.woff") format("woff"), url("../fonts/merriweather-v21-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/merriweather-v21-latin_cyrillic-700.svg#Merriweather") format("svg");
  /* Legacy iOS */
}

:root {
  --background: rgba(240, 240, 240, 1);
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 14px;
}

.button {
  background-color: var(--background);
  color: black;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
}

h1 {
  font-size: 1.5rem;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
}

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  -webkit-box-shadow: 0px 0px 20px 0px #000;
          box-shadow: 0px 0px 20px 0px #000;
}

/* allow it to gain focus, making it tabbable */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.logo {
  width: 15em;
  padding: 0.5em 1em;
  margin: 0.5em;
}

.logo .st0 {
  fill: #60b0f4;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #60b0f4;
  height: 3px;
  width: 2em;
  border-radius: 2px;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 8px;
}

.nav-toggle-label span::after {
  top: 8px;
}

nav {
  position: absolute;
  text-align: center;
  top: 100%;
  right: 0;
  background: var(--background);
  width: 100%;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 0.5em;
  padding: 0.5em;
}

nav a {
  color: #60b0f4;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.nav-toggle:checked ~ .nav-toggle-label span {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.nav-toggle:checked ~ .nav-toggle-label span::before,
.nav-toggle:checked ~ .nav-toggle-label span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.nav-toggle:checked:hover ~ .nav-toggle-label span {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  -webkit-transition: opacity 150ms ease-in-out 250ms;
  transition: opacity 150ms ease-in-out 250ms;
}

@media screen and (min-width: 1600px) {
  .nav-toggle-label {
    display: none;
  }
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20vw auto minmax(900px, 3fr) 20vw;
        grid-template-columns: 20vw auto minmax(900px, 3fr) 20vw;
  }
  header .logo {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    margin: 0;
  }
  header nav {
    position: relative;
    text-align: left;
    -webkit-transition: none;
    transition: none;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav li {
    margin-left: 3em;
    margin-bottom: 0;
    padding: 0 2em 0 0;
  }
  header nav a {
    opacity: 1;
    position: relative;
    font-size: 1.2rem;
    font-weight: 400;
  }
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
}

.section-greeting {
  padding: 0 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto 0.5fr auto 0.5fr auto 0.5fr auto 1fr;
      grid-template-rows: 1fr auto 0.5fr auto 0.5fr auto 0.5fr auto 1fr;
  place-items: center;
  text-align: center;
  height: 100vh;
  background-size: auto, cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.55)), to(rgba(0, 0, 0, 0.25))), url(/images/background-mountains_1920x1077.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.25)), url(/images/background-mountains_1920x1077.jpg);
  background-attachment: fixed;
  color: whitesmoke;
}

.section-greeting h1 {
  font-size: 2rem;
}

.section-greeting .name {
  -ms-grid-row: 2;
  grid-row: 2;
}

.section-greeting .welcome {
  -ms-grid-row: 4;
  grid-row: 4;
}

.section-greeting .expectations {
  -ms-grid-row: 6;
  grid-row: 6;
}

.section-greeting .slider {
  -ms-grid-row: 8;
  grid-row: 8;
  margin: 0;
  padding: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
}

.section-greeting .slider figure {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400%;
  margin: 0;
  left: 0;
  -webkit-animation: 12s slider infinite;
          animation: 12s slider infinite;
}

.section-greeting .slider .slide {
  width: 100%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-greeting .slider .slide h4 {
  padding-bottom: 1em;
}

.section-greeting .slide-icon {
  width: 3em;
  padding-bottom: 1.5em;
}

@-webkit-keyframes slider {
  0% {
    left: 0%;
  }
  30% {
    left: 0%;
  }
  33% {
    left: -100%;
  }
  63% {
    left: -100%;
  }
  66% {
    left: -200%;
  }
  96% {
    left: -200%;
  }
  99% {
    left: -300%;
  }
  100% {
    left: -300%;
  }
}

@keyframes slider {
  0% {
    left: 0%;
  }
  30% {
    left: 0%;
  }
  33% {
    left: -100%;
  }
  63% {
    left: -100%;
  }
  66% {
    left: -200%;
  }
  96% {
    left: -200%;
  }
  99% {
    left: -300%;
  }
  100% {
    left: -300%;
  }
}

.section-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  justify-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
}

.section-gallery h1 {
  text-transform: uppercase;
  padding: 1em 0;
}

.section-gallery .sg-block {
  padding-bottom: 2em;
}

.section-gallery .sg-block img {
  max-width: 100%;
  height: auto;
}

.section-gallery .gbd-heading {
  padding-top: 0.2em;
}

.section-gallery .gbd-subheading {
  text-transform: uppercase;
  padding: 0.2em 0;
}

.section-gallery p {
  text-align: justify;
  max-width: 500px;
  padding: 1em;
}

.section-gallery .gallery-h1 {
  padding-top: 4em;
}

.section-about {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  justify-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.55))), url(/images/background-mountains_1920x1077.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.55)), url(/images/background-mountains_1920x1077.jpg);
  background-size: auto, cover;
  background-attachment: fixed;
  background-position: center;
  color: whitesmoke;
  padding: 1em 1em 0 1em;
}

.section-about h1,
.section-about h2 {
  padding: 1em 0;
}

.section-about h1 {
  text-transform: uppercase;
}

.section-about p {
  text-align: justify;
  max-width: 500px;
  padding: 0.5em 0 0.5em 0;
}

.section-about .end-p {
  padding-bottom: 1em;
}

.section-about .sa-image {
  padding-bottom: 0px;
}

.section-about img {
  max-width: 100%;
  height: auto;
  opacity: 0.3;
  padding-bottom: 0px;
  margin-bottom: -0.3em;
  overflow: hidden;
}

.section-about .inline-link {
  text-decoration: none;
  color: whitesmoke;
}

.section-about .sa-description {
  margin-bottom: 2em;
}

@media only screen and (min-width: 500px) {
  .section-gallery .sg-block a img {
    -webkit-box-shadow: 1px 1px 20px 1px #000;
            box-shadow: 1px 1px 20px 1px #000;
    border-radius: 0.2em;
  }
  .button {
    -webkit-box-shadow: 0px 0px 2px 0px #000;
            box-shadow: 0px 0px 2px 0px #000;
    border-radius: 0.2em;
  }
  .gallery {
    padding: 5em 5em 5em 5em;
  }
  .my-gallery img {
    -webkit-box-shadow: 0px 0px 5px 0px #000;
            box-shadow: 0px 0px 5px 0px #000;
    border-radius: 0.2em;
  }
}

@media only screen and (min-width: 640px) {
  html h1 {
    font-size: 1.8rem;
  }
  html h2 {
    font-size: 1.3rem;
  }
  html h3 {
    font-size: 1.1rem;
  }
  html h4 {
    font-size: 1.1rem;
  }
  html p {
    font-size: 1.1rem;
  }
  .section-greeting h1 {
    font-size: 3rem;
  }
  .section-greeting .slide-icon {
    width: 3.5em;
  }
}

@media only screen and (min-width: 1600px) {
  html h1 {
    font-size: 2rem;
  }
  html h2 {
    font-size: 1.5rem;
  }
  html h3 {
    font-size: 1.2rem;
  }
  html h4 {
    font-size: 1.2rem;
  }
  html p {
    font-size: 1.2rem;
  }
  .section-greeting h1 {
    font-size: 3.5rem;
  }
  .section-greeting .slide-icon {
    width: 4em;
  }
  .section-gallery {
    -ms-grid-columns: minmax(100px, 20vw) minmax(30vw, max-content) minmax(30vw, max-content) minmax(100px, 20vw);
        grid-template-columns: minmax(100px, 20vw) minmax(30vw, -webkit-max-content) minmax(30vw, -webkit-max-content) minmax(100px, 20vw);
        grid-template-columns: minmax(100px, 20vw) minmax(30vw, max-content) minmax(30vw, max-content) minmax(100px, 20vw);
    padding: 5em 0;
  }
  .section-gallery h1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    padding-top: 0;
  }
  .section-gallery p {
    padding: 0 0 1em 0;
  }
  .section-gallery .gallery-h1 {
    padding-top: 1em;
  }
  .section-gallery .greece {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
  .section-gallery .macedonia {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
  .section-gallery .romania {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
  .sg-block {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto 1fr auto 1fr;
        grid-template-columns: 1fr auto 1fr auto 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    padding: 2em;
  }
  .sg-block #image-macedonia {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / 5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .sg-block #description-macedonia {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .sg-block .gallery-block-image {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    padding: 0 2em;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .sg-block .gallery-block-description {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 2em 1em 2em;
  }
  .sg-block .gallery-block-description .gbd-subheading::after {
    display: block;
    background-color: #60b0f4;
    height: 5px;
    margin: 0.5em 0;
    width: 100%;
    content: "";
  }
  .sg-block .gallery-block-description .button {
    width: 50%;
  }
  .greece {
    -ms-grid-column-align: left;
        justify-self: left;
  }
  .macedonia {
    -ms-grid-column-align: right;
        justify-self: right;
  }
  .romania {
    -ms-grid-column-align: left;
        justify-self: left;
  }
  .section-gallery #macedonia .gallery-block-description {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .section-about {
    -ms-grid-columns: 1fr auto 1em auto 1fr;
        grid-template-columns: 1fr auto 1em auto 1fr;
    grid-column-gap: 1em;
    -ms-flex-line-pack: end;
        align-content: end;
  }
  .sa-description {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .sa-image {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / 5;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  .my-gallery {
    -ms-grid-columns: (minmax(400px, auto))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(400px, auto));
    grid-gap: 2em;
    max-width: 80vw;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media only screen and (min-width: 2400px) {
  html h1 {
    font-size: 2rem;
  }
  html h2 {
    font-size: 1.5rem;
  }
  html h3 {
    font-size: 1.2rem;
  }
  html h4 {
    font-size: 1.2rem;
  }
  html p {
    font-size: 1.2rem;
  }
  .section-greeting {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.55)), to(rgba(0, 0, 0, 0.25))), url(/images/background-mountains_3840x2154.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.25)), url(/images/background-mountains_3840x2154.jpg);
  }
  .section-greeting h1 {
    font-size: 3.5rem;
  }
  .section-greeting .slide-icon {
    width: 4em;
  }
  .section-gallery {
    padding: 5em 0;
  }
  .section-gallery h1 {
    padding-top: 0;
  }
  .section-gallery p {
    padding: 0 0 1em 0;
  }
  .section-gallery .gallery-h1 {
    padding-top: 1em;
  }
  .sg-block {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto 1fr auto 1fr;
        grid-template-columns: 1fr auto 1fr auto 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    padding: 2em;
  }
  .sg-block #image-macedonia {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / 5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .sg-block #description-macedonia {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .sg-block .gallery-block-image {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    padding: 0 2em;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .sg-block .gallery-block-description {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 2em 1em 2em;
  }
  .sg-block .gallery-block-description .gbd-subheading::after {
    display: block;
    background-color: #60b0f4;
    height: 5px;
    margin: 0.5em 0;
    width: 100%;
    content: "";
  }
  .sg-block .gallery-block-description .button {
    width: 50%;
  }
  .section-gallery #macedonia .gallery-block-description {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .section-about {
    -ms-grid-columns: 1fr auto 1em auto 1fr;
        grid-template-columns: 1fr auto 1em auto 1fr;
    grid-column-gap: 1em;
    -ms-flex-line-pack: end;
        align-content: end;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.55)), to(rgba(0, 0, 0, 0.55))), url(/images/background-mountains_3840x2154.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(/images/background-mountains_3840x2154.jpg);
    padding: 5em 1em 0 1em;
  }
  .sa-description {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .sa-image {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / 5;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  .my-gallery {
    -ms-grid-columns: (minmax(400px, auto))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(400px, auto));
    grid-gap: 2em;
    max-width: 80vw;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media only screen and (max-width: 1079px) {
  .section-about .sa-image {
    display: none;
  }
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  background: var(--background);
  text-align: center;
}

.footer-logo {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 10rem;
  padding: 0 0 0.5em 0;
  margin: 0;
}

.footer-logo .st0 {
  fill: #60b0f4;
}

footer nav {
  position: relative;
  text-align: center;
  -webkit-transition: none;
  transition: none;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  background: none;
  top: initial;
  left: initial;
  /* end Edge support stuff */
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer nav li {
  margin-top: 1em;
  padding: 1em;
  padding: 0;
}

footer nav a {
  opacity: 1;
  position: relative;
  color: black;
}

footer p {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  font-size: 0.8rem;
  font-weight: 700;
  padding-bottom: 1em;
}

@media screen and (min-width: 1080px) {
  footer nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer nav li {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
  footer nav a {
    color: #60b0f4;
    font-size: 1.2rem;
    font-weight: 400;
  }
}
/*# sourceMappingURL=style.css.map */