// --------------------------------------
// Beginning of Global Styles
// --------------------------------------

// --------------------------------------
// All elements with pseudo selectors reset
// --------------------------------------
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
// --------------------------------------

// --------------------------------------
// Fonts
// --------------------------------------

/* merriweather-regular - latin_cyrillic */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/merriweather-v21-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local("Merriweather Regular"), local("Merriweather-Regular"),
    url("../fonts/merriweather-v21-latin_cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/merriweather-v21-latin_cyrillic-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/merriweather-v21-latin_cyrillic-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/merriweather-v21-latin_cyrillic-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/merriweather-v21-latin_cyrillic-regular.svg#Merriweather")
      format("svg"); /* Legacy iOS */
  font-display: swap;
}

/* merriweather-700 - latin_cyrillic */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/merriweather-v21-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local("Merriweather Bold"), local("Merriweather-Bold"),
    url("../fonts/merriweather-v21-latin_cyrillic-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/merriweather-v21-latin_cyrillic-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/merriweather-v21-latin_cyrillic-700.woff") format("woff"),
    /* Modern Browsers */
      url("../fonts/merriweather-v21-latin_cyrillic-700.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/merriweather-v21-latin_cyrillic-700.svg#Merriweather")
      format("svg"); /* Legacy iOS */
  font-display: swap;
}
// --------------------------------------

// --------------------------------------
// Global Elements
// --------------------------------------
:root {
  // Global Colors
  --background: rgba(240, 240, 240, 1);
  //-------------------------------------
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 14px;
}

@media screen and (min-width: 900px) {
  :root {
    font-size: 16px;
  }
}

@media screen and (min-width: 2000px) {
  :root {
    font-size: 18px;
  }
}

.button {
  background-color: var(--background);
  color: black;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  box-shadow: 0px 0px 2px 0px #000;
  border-radius: 0.2em;
}

.button:hover,
.button:focus {
  color: white;
  background-color: #60b0f4;
}

.current-page {
  color: black;
}

h1 {
  font-size: 2rem;
}

// --------------------------------------
// End of Global Styles
// --------------------------------------

// --------------------------------------
// /* Navigation Header styles starts here */
// ----------------------------------------
header {
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0px 0px 20px 0px #000;
}

.header-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 900px) {
  .header-container {
    max-width: 1600px;
  }
}

/* allow it to gain focus, making it tabbable */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.logo {
  width: 15em;
  padding: 0.5em 1em;
  margin: 0.5em;
  .st0 {
    fill: #60b0f4;
  }
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #60b0f4;
  height: 3px;
  width: 2em;
  border-radius: 2px;
  position: relative;
  transition: all 0.4s ease;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 8px;
}

.nav-toggle-label span::after {
  top: 8px;
}

nav {
  position: absolute;
  text-align: center;
  top: 100%;
  right: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 200ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 0.5em;
  padding: 0.5em;
}

nav a {
  color: #60b0f4;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

nav a:hover,
nav a:focus {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

// Animate hamburger on click begins
// ---------------------------------
.nav-toggle:checked ~ .nav-toggle-label span {
  transform: rotate(135deg);
}
// Turn lines into X
.nav-toggle:checked ~ .nav-toggle-label span::before,
.nav-toggle:checked ~ .nav-toggle-label span::after {
  top: 0;
  transform: rotate(90deg);
}
// Rotate on hover when checked
.nav-toggle:checked:hover ~ .nav-toggle-label span {
  transform: rotate(225deg);
}
// -------------------------------
// Animate hamburger on click ends

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 150ms ease-in-out 250ms;
}

@media screen and (min-width: 1024px) {
  .nav-toggle-label {
    display: none;
  }

  header nav {
    // all: unset; /* this causes issues with Edge, since it's unsupported */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */

    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  header nav ul {
    display: flex;
  }

  header nav li {
    margin-left: 3em;
    margin-bottom: 0;
    padding: 0 2em 0 0;
  }

  header nav a {
    opacity: 1;
    position: relative;
    font-size: 1.2rem;
    font-weight: 400;
  }
}
// --------------------------------------
// /* Navigation Header styles ends here */
// --------------------------------------

// --------------------------------------
// /* Main Section styles starts here */
// --------------------------------------
//
// --------------------------------------
// /* Section Greeting styles starts here */
// --------------------------------------
.section-greeting {
  padding: 0 1em;
  display: grid;
  grid-template-rows: 0.5fr auto 0.5fr auto 0.5fr auto 0.5fr auto 1fr;
  place-items: center;
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.25)),
    url(/images/background-mountains_1920x1077.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  color: whitesmoke;

  .name {
    grid-row: 2;
  }

  .welcome {
    grid-row: 4;
  }

  .expectations {
    grid-row: 6;
  }

  .slider {
    grid-row: 8;
    margin: 0;
    padding: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
  }

  .slider figure {
    position: relative;
    display: flex;
    width: 400%;
    margin: 0;
    left: 0;
    animation: 12s slider infinite;
  }

  .slider .slide {
    width: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      padding-bottom: 1em;
    }
  }

  .slide-icon {
    width: 3em;
    padding-bottom: 1.5em;
  }

  @keyframes slider {
    0% {
      left: 0%;
    }
    30% {
      left: 0%;
    }

    33% {
      left: -100%;
    }
    63% {
      left: -100%;
    }

    66% {
      left: -200%;
    }
    96% {
      left: -200%;
    }

    99% {
      left: -300%;
    }
    100% {
      left: -300%;
    }
  }
}
// --------------------------------------
// /* Section Greeting styles Ends here */
// --------------------------------------

// --------------------------------------
// /* Section Gallery styles starts here */
// --------------------------------------

.section-gallery-container {
  max-width: 1200px;
  display: grid;
  margin: 0 auto;
  padding: 0 1rem 3rem 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  grid-gap: 1rem 1rem;
  justify-content: center;
  text-align: center;
  h1 {
    text-transform: uppercase;
    padding: 2rem 0;
    grid-column: -1 / 1;
  }
  //Card styles begins here
  .sg-block {
    display: flex;
    flex-direction: column;

    img {
      max-width: 100%;
      height: 100%;
    }

    position: relative;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  }

  .gallery-block-image {
    background: rgba(92, 92, 92, 0.8);
  }

  .gallery-block-image img {
    opacity: 0.85;
  }

  .gallery-block-image img:hover {
    opacity: 1;
  }

  .gbd-heading {
    padding-top: 0.2rem;
  }
  .gbd-subheading {
    text-transform: uppercase;
    padding: 0.2rem 0;
  }

  p {
    text-align: justify;
    max-width: 500px;
    margin: 0 auto;
    height: 100%;
    padding: 1rem;
  }

  .sg-block .button {
    box-shadow: none;
    border-radius: unset;
  }

  //Card styles ends here
}

@media screen and (min-width: 900px) {
  .section-gallery {
    margin: 7rem 0;
  }

  .section-gallery-container {
    max-width: 1400px;
    grid-template-columns: repeat(auto-fill, minmax(400px, auto));
    grid-gap: 2rem 1rem;
  }

  .section-gallery-container h1 {
    padding: 0 0 4rem 0;
  }
}

@media screen and (min-width: 1400px) {
  .section-gallery-container {
    max-width: 1600px;
  }
}

// --------------------------------------
// /* Section Gallery styles ends here */
// --------------------------------------

// --------------------------------------
// /* Section About styles starts here */
// --------------------------------------

.section-about {
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.55)),
    url(/images/background-mountains_1920x1077.jpg);
  background-size: auto, cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  color: whitesmoke;
  padding: 1rem 1rem 0 1rem;
  .inline-link {
    text-decoration: none;
    color: whitesmoke;
  }
}

.sa-description {
  display: grid;
  text-align: center;
  width: 100%;
  max-width: 500px;

  h1,
  h2 {
    padding: 1rem 0;
  }

  h1 {
    text-transform: uppercase;
  }

  p,
  li {
    text-align: justify;
    margin: 1rem;
  }

  li {
    margin-left: 2rem;
  }
}

.button1 {
  margin: 1rem 1rem 0 1rem;
}

.button2 {
  margin: 1rem 1rem 2rem 1rem;
}

@media only screen and (min-width: 900px) {
  .section-about {
    padding: 7rem 0;
  }

  .sa-description {
    grid-template-columns: 1fr 5fr 2rem 5fr 1fr;
    max-width: 1600px;
    margin-bottom: unset;
    h1,
    h2 {
      margin: 2rem 0;
    }
  }

  .sa-description h1,
  .sa-description h2 {
    grid-column: span 5;
  }

  .sa-description-block1 {
    grid-column: 2/3;
  }
  .sa-description-block2 {
    grid-column: 4/5;
  }
  .button1 {
    grid-column: 2/3;
    margin: 1rem;
  }

  .button2 {
    grid-column: 4/5;
    margin: 1rem;
  }
}

// --------------------------------------
// /* Section About styles ends here */
// --------------------------------------

// --------------------------------------
// /* Main Section styles ends here */
// --------------------------------------

// --------------------------------------
// /* Footer styles starts here */
// --------------------------------------
footer {
  background: var(--background);
  text-align: center;
}

.footer-logo {
  width: 10rem;
  margin: 2rem 0 auto;
  .st0 {
    fill: #60b0f4;
  }
}

footer nav {
  position: relative;
  transition: none;
  transform: scale(1, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

footer nav ul {
  display: flex;
  flex-direction: column;
}

footer nav a {
  opacity: 1;
  position: relative;
  color: #60b0f4;
}

footer p {
  font-size: 0.8rem;
  font-weight: 700;
  padding-bottom: 2rem;
}

.fa {
  padding: 1rem;
  font-size: 20px !important;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 0 0.5rem 2rem 0.5rem;
  border-radius: 5%;
  opacity: 0.9;
}

.fa:hover {
    opacity: 1;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

@media screen and (min-width: 900px) {
  footer nav ul {
    flex-direction: row;
  }

  footer nav li {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  footer nav a {
    font-size: 1.2rem;
  }

  .fa {
    padding: 1rem;
    font-size: 30px !important;
    width: 70px;
  }
}
// --------------------------------------
// /* Footer styles ends here */
// --------------------------------------
